.about {
    width: 100%;
    padding: 50px 0;

    // background-color: $light-slate;
    background: rgb(17, 34, 64);
    background: linear-gradient(0deg, rgba(17, 34, 64, 1) 0%, rgba(2, 12, 27, 1) 100%);

    .container {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;

        img {
            margin: auto;
            width: 220px;
            height: 220px;
            object-fit: cover;
            object-position: 0 0;
            border-radius: 10px;
            box-shadow: 3px 3px 10px $dark-navi;
        }

        div::before,
        div::after {
            content: "";
            display: block;
            width: 150px;
            height: 3px;
            background-color: orange;
            position: relative;
            margin: 20px auto 10px auto;
        }

        div {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            h1 {
                font-size: 26px;
                font-weight: 800;
                color: white;

                .blue {
                    color: $light-slate;
                    font-weight: 1000;
                }
            }

            h3 {
                font-size: 20px;
                color: white;
            }

            p {
                font-family: SFMono;
                font-size: 14px;
                color: $light-slate;
            }
        }

    }

}



@media(min-width: 768px) {}