.about {
    width: 100%;
    padding: 100px 0 50px 0;
    // position: absolute;
    background-color: $lightest-blue;

    .container {
        width: 350px;
        margin: auto;
        display: flex;

        img {
            width: 150px;
            border-radius: 10px;
            box-shadow: 3px 3px 10px $dark-navi;
        }

        div {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            h1 {
                font-size: 26px;

                .blue {
                    font-size: 28px;
                    color: $navi;
                }
            }

            h3 {
                font-size: 18px;
            }

            p {
                font-family: SFMono;
                font-size: 14px;
            }
        }

    }

}