.carrier {
    background-color: $navi;
    color: white;

    .carrier-title {
        font-weight: 600;
        text-shadow: 1px 1px 1px orange;
    }

    .carrier-presentation {
        font-family: SFMono;
        margin: 30px 0;
    }

    .button-background {
        width: 100%;
        height: 300px;
        background-image: url('../assets/webdevbg3.jpg');
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background-attachment: fixed;

        .download-button {
            background-color: $navi;
            position: relative;
            text-shadow: 1px 1px 1px orange;
            font-weight: 800;
            cursor: pointer;
            color: white;
            border: 2px solid white;
            padding: 15px 20px;
            border-radius: 40px;
            top: 0px;
            left: 0px;
        }

        .download-button:hover {
            top: -3px;
            left: -3px;
            border: 2px solid orange;
            box-shadow: 3px 3px 0px $navi;
        }
    }
}