.carrier {
    background-color: $navi;
    color: white;
    max-width: 1440px;
    margin: auto;



    .carrier-title {
        font-weight: 600;
        text-shadow: 1px 1px 1px orange;
    }

    .carrier-presentation {
        font-family: SFMono;
        margin: 30px 10px;
    }

    .button-background {
        width: 100%;
        height: 300px;
        position: relative;
        // background-image: url('src/assets/webdevbg3.jpg');
        // -webkit-background-size: cover;
        // -moz-background-size: cover;
        // -o-background-size: cover;
        // background-size: cover;
        // background-position: center;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // position: relative;
        // background-attachment: fixed;
        clip-path: inset(0);

        .button-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 0% 50%;
            position: absolute;
            bottom: 0;
            top: 0;
            right: 0;
            left: 0;
        }

        .download-button {
            background-color: $navi;
            position: relative;
            text-shadow: 1px 1px 1px orange;
            font-weight: 800;
            cursor: pointer;
            color: white;
            border: 2px solid white;
            padding: 15px 20px;
            border-radius: 40px;
            top: 0px;
            left: 0px;

            margin-top: 120px;
        }

        .download-button:hover {
            top: -3px;
            left: -3px;
            border: 2px solid orange;
            box-shadow: 3px 3px 0px $navi;
        }
    }
}

@media(min-width: 768px) {
    .carrier {
        .carrier-presentation {
            font-size: 18px;
            padding: 0 20px;
            max-width: 768px;
            margin: 20px auto 40px auto;
        }

        .button-image {
            position: fixed !important;
        }

        .download-button {
            font-size: 16px;
        }
    }
}

@media(min-width:992px) {
    .carrier {
        .carrier-presentation {
            border-inline: 3px solid rgb(255, 153, 0);
        }
    }
}