.contact {
    // padding: 40px 0;
    color: white;
    background: rgb(17, 34, 64);
    background: linear-gradient(0deg, rgba(17, 34, 64, 1) 0%, rgba(10, 24, 47, 1) 65%, rgba(2, 12, 27, 1) 100%);

    .contact-title {
        font-size: 24px;
        font-weight: 600;
        text-shadow: 1px 1px 1px orange;
        padding: 20px 0;
    }

    .contact-form {
        width: 320px;
        margin: auto;

        .contact-form-item {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;

            label {
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 10px;
            }

            input,
            textarea {
                width: 100%;
                padding: 10px;
                border: 1px solid $dark-navi;
                border-radius: 20px;
            }

            textarea {
                height: 140px;
                resize: none;
            }

            p {
                margin-top: 20px;
                font-size: 14px;
            }


        }

        #submit-button {
            font-size: 14px;
            font-weight: 600;
            width: 200px;
            padding: 10px;
            border: 1px solid white;
            border-radius: 20px;
            color: white;
            background: $navi;
            cursor: pointer;
            margin-bottom: 20px;
        }

        #submit-button:hover {
            // background: $light-grey;
            border-color: orange;
            color: orange;
        }
    }
}