.contact {
    // padding: 40px 0;
    color: white;
    background: rgb(17, 34, 64);
    background: linear-gradient(0deg, rgba(17, 34, 64, 1) 0%, rgba(10, 24, 47, 1) 65%, rgba(2, 12, 27, 1) 100%);
    max-width: 1440px;
    margin: auto;

    .contact-title {
        font-size: 24px;
        font-weight: 600;
        text-shadow: 1px 1px 1px orange;
        padding: 20px 0;
    }

    .contact-form {
        width: 320px;
        margin: auto;

        .contact-form-item {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;

            label {
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 10px;
            }

            input,
            textarea {
                width: 100%;
                padding: 10px;
                border: 1px solid $dark-navi;
                border-radius: 20px;
            }

            textarea {
                height: 140px;
                resize: none;
            }

            p {
                margin-top: 20px;
                font-size: 14px;
            }


        }

        #submit-button {
            font-size: 14px;
            font-weight: 600;
            width: 200px;
            padding: 10px;
            border: 1px solid white;
            border-radius: 20px;
            color: white;
            background: $navi;
            cursor: pointer;
            margin-bottom: 20px;
        }

        #submit-button:hover {
            // background: $light-grey;
            border-color: orange;
            color: orange;
        }
    }
}

@media(min-width:768px) {
    .contact {

        .contact-form {
            width: 600px !important;
            margin: auto;
            display: flex !important;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;

            .contact-form-item:nth-child(1) {
                width: 240px;

            }

            .contact-form-item:nth-child(2) {
                width: 240px;

            }

            .contact-form-item:nth-child(3) {
                width: 540px;
                margin: auto;

                textarea {
                    height: 200px;
                }
            }

            #submit-button {
                font-size: 16px;
                margin: 20px auto;

            }
        }
    }
}

@media(min-width:992px) {
    .contact {
        .contact-form {
            width: 900px !important;

            label,
            input,
            textarea {
                font-size: 20px !important;
            }

            .contact-form-item:nth-child(1) {
                width: 420px;
            }

            .contact-form-item:nth-child(2) {
                width: 420px;

            }

            .contact-form-item:nth-child(3) {
                width: 870px;
                margin: auto;

                textarea {
                    height: 300px;
                }
            }

            .contact-form-item {

                input,
                textarea {
                    border-radius: 30px;
                }
            }

            #submit-button {
                font-size: 18px !important;
                margin: 20px auto;
                border-radius: 30px;
            }
        }
    }
}