@font-face {
    font-family: "SFMono";
    src: local("SFMonoRegular"),
        url("../Fonts/SF-Mono/SFMonoRegular.otf") format("truetype");
}

@font-face {
    font-family: "SFMonoLight";
    src: local("SFMonoLight"),
        url("../Fonts/SF-Mono/SFMonoLight.otf") format("truetype");
}