.project-card {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 30%, rgba(190, 197, 221, 1) 61%, $light-slate 100%);
    box-shadow: 6px 6px 0px rgba(255, 166, 0, 0.8);

    width: 340px;
    height: 250px;
    margin: 40px 10px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;


    .project-card-cover {
        width: inherit;
        height: inherit;
        z-index: 3;
        object-fit: cover;
        object-position: 0 0;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 15px;

        transition: all .3s ease-in-out;


        /* Uncomment to open cards */
        // width: 250px;
        // height: 150px;
        // margin: 5px;
    }

    .project-card-right-container {
        position: absolute;
        text-align: start;
        width: 90px;
        height: 100%;
        right: 0;

        .title-container {
            position: absolute;
            right: 0px;
            box-shadow: 3px -1px 2px white;
            border-radius: 0 10px 0 0;
            margin: 7px;
            width: 50px;
            height: 146px;
            text-align: start;


            .project-card-name {
                color: white;
                text-shadow: 0px 0px 5px orange;
                display: block;
                width: 180px;
                position: relative;
                left: 15px;
                font-size: 20px;
                font-weight: 800;
                transform: rotate(90deg);
                transform-origin: left;
            }

        }

        .links-container {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 80px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            display: flex;
            flex-wrap: wrap;

            a {
                text-decoration: none;
                border: 2px solid $mid-grey;
                color: $mid-grey;
                height: 35px;
                width: 70px;
                font-size: 14px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 20px;
                transition: background-color .3s ease-in-out;
                transition: border .5s linear;

                .link-icon {
                    margin-right: 5px;
                }
            }

            a:hover {
                border: 2px solid orange;
                background-color: $dark-grey;
                color: white
            }
        }
    }

    .project-card-bottom-container {
        position: absolute;
        padding-left: 10px;
        bottom: 0;
        height: 100px;
        width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            font-size: 13px;
            text-align: justify;
            font-weight: 800;
            margin-top: 15px;
        }

        ul {
            margin-top: 20px;
            display: flex;
            list-style: none;
            justify-content: right;
            gap: 3px;

            li {
                font-family: SFMono;
                font-size: 12px;
            }
        }
    }
}

.project-card:hover {

    .project-card-cover {
        width: 250px;
        height: 150px;
        margin: 5px;
        border: 2px solid orange;
    }
}

@media(min-width:992px) {
    .project-card {
        width: 500px;
        height: 320px;

        .project-card-cover {


            /* Uncomment to open cards */
            // width: 380px;
            // height: 220px;
            // margin: 5px;
            // border: 2px solid orange;
        }

        .project-card-right-container {
            width: 120px;

            .title-container {

                .project-card-name {
                    font-size: 24px;
                }
            }

            .links-container {
                height: 90px;

                a {
                    width: 90px;
                    height: 40px;
                    font-size: 20px;

                    .link-icon {
                        font-size: 18px;
                    }
                }

                a:nth-child(2) {
                    .link-icon {
                        font-size: 24px !important;
                    }
                }

                a:hover {}
            }
        }

        .project-card-bottom-container {
            width: 380px;

            p {
                font-size: 14px;
            }

            ul {
                margin-top: 10px;

                li {
                    font-size: 16px;
                }
            }
        }
    }

    .project-card:hover {

        .project-card-cover {
            width: 380px;
            height: 220px;
        }
    }

}