* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$navi: rgb(17, 34, 64);
$dark-navi: #020c1b;
$lightest-blue: rgb(204, 214, 246);


#root {
  max-width: 1440px;
  margin: 0 auto;
  font-family: Montserrat, Helvetica;
  text-align: center;
}

// .material-symbols-outlined {
//   color: red;
//   display: block;
//   transform: rotate(90deg);
//   font-size: 50px;
//   font-variation-settings:
//     'FILL' 0,
//     'wght' 400,
//     'GRAD' 0,
//     'opsz' 24
// }

// #hex {
//   font-size: 60px;
// }